.gradient-custom {
    background: #ededed;
}

.book-price {
    font-size: 20px;
    font-weight: 600;
}

p.h2.ty-pg {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}